{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Yandex Academy</title>
	<!-- Bootstrap Reboot CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/solid.css" integrity="sha384-HTDlLIcgXajNzMJv5hiW5s2fwegQng6Hi+fN6t5VAcwO/9qbg2YEANIyKBlqLsiT" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/brands.css" integrity="sha384-KtmfosZaF4BaDBojD9RXBSrq5pNEO79xGiggBxf8tsX+w2dBRpVW5o0BPto2Rb2F" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/fontawesome.css" integrity="sha384-8WwquHbb2jqa7gKWSoAwbJBV2Q+/rQRss9UXL5wlvXOZfSodONmVnifo/+5xJIWX" crossorigin="anonymous">
	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- Media Queries CSS -->
	<link rel="stylesheet" href="{% static 'css/media.css' %}">
</head>
<body>
	<header class="header" id="header">
		<div class="container">
			<div class="row">
				<div class="col-6 col-sm-4 col-md-2">
					<a href="#" class="logo">
						MY SITE
					</a>
				</div>
				<div class="col-md-6 d-none d-md-block">
					<div class="info d-flex">
						<div class="info__item info__item_left">
							Портфолио
						</div>
						<div class="info__item info__item_right">
							что-то такое
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-md-2 ml-auto text-right">
					<a href="mailto:reg@wayup.in" class="mail">
						antonyan.kosterko@mail.ru
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-7">
					<div class="offer">
						<h1 class="offer__title">
							<span style="color:red;">К</span>остерин Антон
						</h1>
						<p class="offer__text">
							Привет, меня зовут <span class="red-font">Антон</span>, я начинающий backend-разработчик<br>Люблю программировать, и хочу связать с этим жизнь<br> Хочу учиться на <span class="red-font">Yandex Интенсиве</span>
						</p>
						<div class="offer__btn btn">
							Познакомиться
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<img src="{% static 'img/wheel.jpg' %}" alt="Свобода веб-дизайн фриланс" class="wheel">
				</div>
			</div>
		</div>
	</header>
	<section class="topics" id="topics">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2>
						Что <span class="red-font">мне</span> нравится?
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="topic">
						<h3 class="topic__title">
							Программирование
						</h3>
						<p class="topic__text">
							Начал знакомство в 7 классе. Постепенно набирал обороты. Познакомился с web, постепенно перешел на изучение backend. Люблю прогать, занимаюсь этим почти каждый день)
						</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="topic">
						<h3 class="topic__title">
							Олимпиады
						</h3>
						<p class="topic__text">
							Активно участвую в олимпиадах по техническим предметам. Люблю ботать математику, физику, инфу. Участие в олимпах помогло вкачать самоконтроль для других целей
						</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="topic">
						<h3 class="topic__title">
							Спорт
						</h3>
						<p class="topic__text topic__text_short">
							С недавних пор начал активно заниматься спортом, бегать по утрам. Теперь ощущаю больше желания заниматься.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="reasons" id="reasons">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2>
						<span class="red-font">3</span> пункта о моем пути программиста
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 d-flex align-items-center">
					<img src="{% static 'img/devices.jpg' %}" alt="Devices" class="devices">
				</div>
				<div class="col-lg-7">
					<ul class="list">
						<li class="list__item">
							<span class="list__index">
								1
							</span>
							<h4 class="list__title">
								Путь в python
							</h4>
							<p class="list__text">
								Один из первых моих языков. Выделил его как пункт, так как много на нем всякой всячины делал и планирую делать, в том числе и Django. Очень люблю этот язык, как промышленный. Использую для backend, CTF, ну и ЕГЭ)
							</p>
						</li>
						<li class="list__item">
							<span class="list__index">
								2
							</span>
							<h4 class="list__title">
								Олимпиадная информатика
							</h4>
							<p class="list__text">
								Занимаюсь олимпиадкой 2 года. Очень меня это затягивает. Нравится решать сложные алгоритмические задачи. В этом мне помогает конечно же C++.
							</p>
						</li>
						<li class="list__item">
							<span class="list__index">
								3
							</span>
							<h4 class="list__title">
								WEB
							</h4>
							<p class="list__text">
								Самое основное для вас, это конечно же web. Начинал 3 года назад с обучения HTML, CSS. Дальше пошел JS. Потом потихоньку начал пробовать backend (Django, Laravel). На этом интенсиве надеюсь прокачать знания в Django и получить мотивацию к ее изучению
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="host" id="host">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2>
						Немного о <span class="red-font">себе</span>
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-7 col-xl-5">
					<div class="author">
					</div>

				</div>
				<div class="col-lg-5">
					<ul class="details">
						<li class="details__item d-flex align-items-center">
							<i class="details__icon fas fa-angle-right"></i>
							<p class="details__text">
								Учусь в 11 классе. Живу в Мытищах
							</p>
						</li>
						<li class="details__item d-flex align-items-center">
							<i class="details__icon fas fa-angle-right"></i>
							<p class="details__text">
								Люблю поиграть в мафию. Нравятся триллеры и фантастика
							</p>
						</li>
						<li class="details__item d-flex align-items-center">
							<i class="details__icon fas fa-angle-right"></i>
							<p class="details__text">
								Приверженный социалист с не совсем граматной речью
							</p>
						</li>
					</ul>
					<p class="quote">
						Тем, кто терпеливо ждет, действительно, в конце концов, что-нибудь достается, но обычно это ТО, что осталось после людей, которые ждать не стали.
					</p>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer" id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<div class="credits">
						© Все права защищены
					</div>
				</div>
				<div class="col-lg-3">
					<div class="credits">
						WAYUP & Андрей Гаврилов
					</div>
				</div>
				<div class="col-lg-3">
					<a class="credits" href="#">
						Политика конфиденциальности
					</a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>